<h3>Mes cours passés</h3>

  <% if !@archived_courses_as_attendee.count.zero? %>
  <table style="width:100%">
    <tr>
      <th>Titre</th>
      <th>Enseignant</th>
      <th>Date</th>
      <th>Link</th>
    </tr>
    <% @archived_courses_as_attendee.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.creator.name %></td>
      <td><%= course.start_time %></td>
      <td><%= link_to 'lien', course_path(course) %></td>
    </tr>
    <% end %>
  <% else %>
    <p>Aucun cours archivé</p>

  <% end %>
</table>

<h3>Mes cours à venir</h3>

  <% if !@pending_courses_as_attendee.count.zero? %>
  <table style="width:100%">
    <tr>
      <th>Titre</th>
      <th>Enseignant</th>
      <th>Date</th>
      <th>Link</th>
    </tr>
    <% @pending_courses_as_attendee.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.creator.name %></td>
      <td><%= course.start_time %></td>
      <td><%= link_to 'lien', course_path(course) %></td>
    </tr>
    <% end %>
  <% else %>
    <p>Aucun cours à venir</p>
  <% end %>
  </table>
