<h1><%= @course.title %></h1>
<h2>Par <%= @course.creator.name %> </h2>
<p><%= @course.description %></p>
<p><%= @course.resource %></p>



<div id="step-div">
<h3>ÉTAPES</h3>
<div id="step_container">

</div>
</div>




<%= javascript_include_tag 'courses/show' %>
<%= javascript_include_tag 'progressbar/progressbar_student' %>
