<%= link_to "Accueil", home_index_path %> <br>
<hr>
<h1>EN TANT QUE PROFESSEUR</h1>

  <% if @archived_courses_as_teacher.present? %>
  <table style="width:100%">
    <tr>
      <th>Titre</th>
      <th>Date</th>
      <th>Link</th>
    </tr>
    <% @archived_courses_as_teacher.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.start_time %></td>
      <td><%= link_to 'lien', course_path(course) %></td>
    </tr>

    <% end %>
  <% else %>
    <p>Aucun cours archivé</p>
    </table>
  <% end %>

<hr>
<h1>EN TANT QU'ÉLÈVE</h1>

  <% if @archived_courses_as_attendee.present? %>
  <table style="width:100%">
    <tr>
      <th>Titre</th>
      <th>Enseignant</th>
      <th>Date</th>
      <th>Link</th>
    </tr>
    <% @archived_courses_as_attendee.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.creator.name %></td>
      <td><%= course.start_time.asctime %></td>
      <td><%= link_to 'lien', course_path(course) %></td>
    </tr>
    <% end %>
  </table>
  <% else %>
    <p>Aucun cours archivé</p>
  <% end %>
