<br>
<div id="question_div">


<h3>QUESTIONS GENERALES</h3>
<br>
<div id="question_container">

<% if @questions.present?%>
<%@questions.each do |question|%>
<div id="question-card#<%=question.id%>" class="question-card" >


ID : #<%= question.id %>
<br>
<u><%= question.title %></u>

<br>
<% if question.description.present? %>
  <%= question.description %>
  <br>
<%end%>

<% if @teacher %>
<%= link_to "Supprimer la question", general_question_path(question.id), method: :delete %>
<%end%>

<br>
<%= question.vote_number %> vote<% if question.vote_number > 1 %>s<%end%>
<br>

<% if @student %>
  <% @student_vote = GeneralQuestionVote.where(student_id: @student.id, general_question_id: question.id)[0] %>
  <% if !@student_vote.present? %>
    <%= link_to "Voter", general_question_general_question_votes_path(question.id), method: :post %>
  <%elsif%>
    <%= link_to "Dévoter", general_question_vote_path(question.id), method: :delete %>
  <% end%>
<% end%>

<% if @teacher %>
  <%= form_for(question  ,url: general_question_path(question.id)) do |f| %>
    <%= label_tag 'validation' %>
    <%= hidden_field_tag 'teacher_check', false %>
    <%= check_box_tag "teacher_check" ,{} ,question.teacher_check , onchange: 'this.form.submit();' %>
  <% end%>
<% end%>
</div>
<hr>

<%end%>
<%end%>
</div>
</div>

<%= stylesheet_link_tag    "general_questions/_general_questions_index" %>
