

<% if @student %>
<h3>POSER UNE QUESTION</h3>
  <%= form_tag url_for(controller: 'general_questions', action: 'create'), multipart: true, method: "post", remote: true do %>

          <%= hidden_field_tag :course_id , params[:id] %>

					<div id="question_title_field" class="form-group text_field">
						<%= label_tag 'Titre', nil, class:"" %>
						<%= text_field_tag 'title', @title, class: "form-control text_field "  %>
					</div>

					<div  id="question_description_area" class="form-group">
						<%= label_tag 'Description', nil, class:"" %>
						<%= text_area_tag 'description', @description, class: "form-control "  %>
					</div>

					<br>
					<div class="form-group">
						<%= submit_tag "Poser la question", class: 'btn btn-lg' %>
					</div>
  <% end %>
<% end %>
