<h3>POSER UNE QUESTION</h3>

<% if @student %>
  <%= form_tag url_for(controller: 'general_questions', action: 'create'), multipart: true, method: "post" do %>

          <%= hidden_field_tag :course_id , params[:id] %>

					<div class="form-group">
						<%= label_tag 'Titre', nil, class:"" %>
						<%= text_field_tag 'title', @title, class: "form-control "  %>
					</div>

					<div class="form-group">
						<%= label_tag 'Description', nil, class:"" %>
						<%= text_area_tag 'description', @description, class: "form-control "  %>
					</div>

					<br>
					<div class="form-group">
						<%= submit_tag "Poser la question", class: 'btn btn-lg' %>
					</div>
  <% end %>
<% end %>
