<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav f-xlight">

                <li>
                    <%= link_to  "Dashboard", class: "" %>
                </li>
                <li>
                    <%= link_to  "Stream", class: "" %>
                </li>
                <li>
                    <%= link_to "Incoming", courses_path, class: "" %>
                </li>
                <li>
                    <%= link_to  "Archives", archived_courses_path,class: "" %>
                </li>
                <li>
                    <%= link_to  "Liste inscrits", people_path, class: "" %>
                </li>
                <li>
                    <%= link_to  "Liste de mes groupes", groups_path, class: "" %>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
