<!DOCTYPE html>
<html>
  <head>
    <title>ChartSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
     <%= render "layouts/navbar" %>

<div id="wrapper" class= "py-5">
    <%= render "layouts/sidebar" %>
       
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
            
                       <%= yield %>

                    </div>
                </div>
            </div>
         </div>

    </div>
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
  </script>
</body>

</html>
